<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >uart_buffer_controller_inst|uart_buffer_inst|altsyncram_component|auto_generated</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >uart_buffer_controller_inst|uart_buffer_inst</TD>
<TD >22</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >64</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >uart_buffer_controller_inst</TD>
<TD >16</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >64</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >uart_inst</TD>
<TD >12</TD>
<TD >10</TD>
<TD >0</TD>
<TD >10</TD>
<TD >12</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|i2c_inst</TD>
<TD >19</TD>
<TD >20</TD>
<TD >0</TD>
<TD >20</TD>
<TD >10</TD>
<TD >20</TD>
<TD >20</TD>
<TD >20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|max_shift_compare|auto_generated</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|cmpr3|auto_generated</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|cmpr2|auto_generated</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|cmpr1|auto_generated</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|add_sub9|auto_generated</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|add_sub8|auto_generated</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|add_sub7|auto_generated</TD>
<TD >46</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|add_sub5|auto_generated</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|add_sub4|auto_generated</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component|altbarrel_shift6</TD>
<TD >85</TD>
<TD >24</TD>
<TD >0</TD>
<TD >24</TD>
<TD >75</TD>
<TD >24</TD>
<TD >24</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst|CONVERT_fp_to_int_altfp_convert_2jn_component</TD>
<TD >66</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|fp_to_int_inst</TD>
<TD >66</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >24</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|cmpr4|auto_generated</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|add_sub3|auto_generated</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|add_sub1|auto_generated</TD>
<TD >46</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder19|altpriority_encoder17|altpriority_encoder15</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder19|altpriority_encoder17|altpriority_encoder14</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder19|altpriority_encoder17</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder19|altpriority_encoder16|altpriority_encoder15</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder19|altpriority_encoder16|altpriority_encoder14</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder19|altpriority_encoder16</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder19</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder18|altpriority_encoder17|altpriority_encoder15</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder18|altpriority_encoder17|altpriority_encoder14</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder18|altpriority_encoder17</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder18|altpriority_encoder16|altpriority_encoder15</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder18|altpriority_encoder16|altpriority_encoder14</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder18|altpriority_encoder16</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7|altpriority_encoder18</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder7</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder9|altpriority_encoder17|altpriority_encoder15</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder9|altpriority_encoder17|altpriority_encoder14</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder9|altpriority_encoder17</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder9|altpriority_encoder16|altpriority_encoder15</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder9|altpriority_encoder16|altpriority_encoder14</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder9|altpriority_encoder16</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder9</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder8|altpriority_encoder11|altpriority_encoder15</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder8|altpriority_encoder11|altpriority_encoder14</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder8|altpriority_encoder11</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder8|altpriority_encoder10|altpriority_encoder13</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder8|altpriority_encoder10|altpriority_encoder12</TD>
<TD >2</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder8|altpriority_encoder10</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6|altpriority_encoder8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2|altpriority_encoder6</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altpriority_encoder2</TD>
<TD >32</TD>
<TD >9</TD>
<TD >0</TD>
<TD >9</TD>
<TD >5</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component|altbarrel_shift5</TD>
<TD >32</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >24</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst|CONVERT_int_to_fp_altfp_convert_2jn_component</TD>
<TD >26</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|int_to_fp_inst</TD>
<TD >26</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_limit_comparator|auto_generated</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|add_sub9|auto_generated</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|add_sub8|auto_generated</TD>
<TD >110</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >55</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|add_sub7|auto_generated</TD>
<TD >27</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|add_sub6|auto_generated</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|add_sub5|auto_generated</TD>
<TD >119</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >57</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|add_sub4|auto_generated</TD>
<TD >119</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >57</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|add_sub3|auto_generated</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|add_sub2|auto_generated</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|add_sub1|auto_generated</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder41|altpriority_encoder43|altpriority_encoder45</TD>
<TD >2</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder41|altpriority_encoder43|altpriority_encoder44</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder41|altpriority_encoder43</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder41|altpriority_encoder42|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder41|altpriority_encoder42|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder41|altpriority_encoder42</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder41</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder40|altpriority_encoder35|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder40|altpriority_encoder35|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder40|altpriority_encoder35</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder40|altpriority_encoder34|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder40|altpriority_encoder34|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder40|altpriority_encoder34</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39|altpriority_encoder40</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder39</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder33|altpriority_encoder35|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder33|altpriority_encoder35|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder33|altpriority_encoder35</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder33|altpriority_encoder34|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder33|altpriority_encoder34|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder33|altpriority_encoder34</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder33</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder32|altpriority_encoder35|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder32|altpriority_encoder35|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder32|altpriority_encoder35</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder32|altpriority_encoder34|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder32|altpriority_encoder34|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder32|altpriority_encoder34</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38|altpriority_encoder32</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29|altpriority_encoder38</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder29</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder33|altpriority_encoder35|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder33|altpriority_encoder35|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder33|altpriority_encoder35</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder33|altpriority_encoder34|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder33|altpriority_encoder34|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder33|altpriority_encoder34</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder33</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder32|altpriority_encoder35|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder32|altpriority_encoder35|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder32|altpriority_encoder35</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder32|altpriority_encoder34|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder32|altpriority_encoder34|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder32|altpriority_encoder34</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31|altpriority_encoder32</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder31</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder33|altpriority_encoder35|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder33|altpriority_encoder35|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder33|altpriority_encoder35</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder33|altpriority_encoder34|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder33|altpriority_encoder34|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder33|altpriority_encoder34</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder33</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder32|altpriority_encoder35|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder32|altpriority_encoder35|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder32|altpriority_encoder35</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder32|altpriority_encoder34|altpriority_encoder37</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder32|altpriority_encoder34|altpriority_encoder36</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder32|altpriority_encoder34</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30|altpriority_encoder32</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28|altpriority_encoder30</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt|altpriority_encoder28</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|trailing_zeros_cnt</TD>
<TD >64</TD>
<TD >12</TD>
<TD >0</TD>
<TD >12</TD>
<TD >6</TD>
<TD >12</TD>
<TD >12</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder25|altpriority_encoder23|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder25|altpriority_encoder23|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder25|altpriority_encoder23</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder25|altpriority_encoder22|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder25|altpriority_encoder22|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder25|altpriority_encoder22</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder25</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder24|altpriority_encoder23|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder24|altpriority_encoder23|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder24|altpriority_encoder23</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder24|altpriority_encoder22|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder24|altpriority_encoder22|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder24|altpriority_encoder22</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27|altpriority_encoder24</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder27</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder25|altpriority_encoder23|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder25|altpriority_encoder23|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder25|altpriority_encoder23</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder25|altpriority_encoder22|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder25|altpriority_encoder22|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder25|altpriority_encoder22</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder25</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder24|altpriority_encoder23|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder24|altpriority_encoder23|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder24|altpriority_encoder23</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder24|altpriority_encoder22|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder24|altpriority_encoder22|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder24|altpriority_encoder22</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26|altpriority_encoder24</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11|altpriority_encoder26</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder11</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder25|altpriority_encoder23|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder25|altpriority_encoder23|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder25|altpriority_encoder23</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder25|altpriority_encoder22|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder25|altpriority_encoder22|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder25|altpriority_encoder22</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder25</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder24|altpriority_encoder23|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder24|altpriority_encoder23|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder24|altpriority_encoder23</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder24|altpriority_encoder22|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder24|altpriority_encoder22|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder24|altpriority_encoder22</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13|altpriority_encoder24</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder13</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder15|altpriority_encoder23|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder15|altpriority_encoder23|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder15|altpriority_encoder23</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder15|altpriority_encoder22|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder15|altpriority_encoder22|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder15|altpriority_encoder22</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder15</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder14|altpriority_encoder17|altpriority_encoder21</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder14|altpriority_encoder17|altpriority_encoder20</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder14|altpriority_encoder17</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder14|altpriority_encoder16|altpriority_encoder19</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder14|altpriority_encoder16|altpriority_encoder18</TD>
<TD >2</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder14|altpriority_encoder16</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12|altpriority_encoder14</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10|altpriority_encoder12</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt|altpriority_encoder10</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|leading_zeroes_cnt</TD>
<TD >64</TD>
<TD >10</TD>
<TD >0</TD>
<TD >10</TD>
<TD >6</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|rbarrel_shift</TD>
<TD >61</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >55</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component|lbarrel_shift</TD>
<TD >64</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >55</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst|FP_ADD_altfp_add_sub_jij_component</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_ADD_inst</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_MULT_inst|man_product2_mult|auto_generated</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >106</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_MULT_inst|man_round_adder|auto_generated</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >54</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_MULT_inst|exp_bias_subtr|auto_generated</TD>
<TD >26</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_MULT_inst|exp_adj_adder|auto_generated</TD>
<TD >27</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_MULT_inst|exp_add_adder|auto_generated</TD>
<TD >28</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst|FP_MULT_inst</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >audio_cntrl_inst|filter_inst</TD>
<TD >92</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
</TR>
<TR >
<TD >audio_cntrl_inst</TD>
<TD >68</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pll_inst</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >3</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
